/* line 5, /Users/zhang_yunjie/Workspace/workspace/crazy-studio/app/assets/stylesheets/blogs.css.scss */
h1 {
  font-size: 3em;
  letter-spacing: -2px;
  text-align: center;
  margin-bottom: 50px;
}

/* line 12, /Users/zhang_yunjie/Workspace/workspace/crazy-studio/app/assets/stylesheets/blogs.css.scss */
.blog {
  margin: 20px;
}

/* line 16, /Users/zhang_yunjie/Workspace/workspace/crazy-studio/app/assets/stylesheets/blogs.css.scss */
.blog-title {
  text-align: center;
}

/* line 20, /Users/zhang_yunjie/Workspace/workspace/crazy-studio/app/assets/stylesheets/blogs.css.scss */
.blog-body {
  text-align: center;
}
