@charset "UTF-8";
/* line 5, /Users/zhang_yunjie/Workspace/workspace/crazy-studio/app/assets/stylesheets/blogs.css.scss */
h1 {
  font-size: 3em;
  letter-spacing: -2px;
  text-align: center;
  margin-bottom: 50px;
}

/* line 12, /Users/zhang_yunjie/Workspace/workspace/crazy-studio/app/assets/stylesheets/blogs.css.scss */
.bg {
  -webkit-background-size: 100% 100%;
  background-color: #eeae93;
  background-image: url("/assets/background_4.jpg");
  background-size: 100% 100%;
  bottom: 0px;
  color: #282828;
  display: block;
  font-family: 'Hiragino Sans GB', 'Hiragino Sans GB W3', 'Microsoft YaHei', '微软雅黑';
  font-size: 14px;
  height: 450px;
  left: 0px;
  line-height: 28px;
  margin: 0px;
  padding: 0px;
  position: fixed;
  right: 0px;
  top: 0px;
  width: 100%;
}

/* line 33, /Users/zhang_yunjie/Workspace/workspace/crazy-studio/app/assets/stylesheets/blogs.css.scss */
.p-bd {
  color: #282828;
  display: block;
  font-family: 'Hiragino Sans GB', 'Hiragino Sans GB W3', 'Microsoft YaHei', '微软雅黑';
  font-szie: 14px;
  line-height: 28px;
  margin-top: 50px;
  position: relative;
}

/* line 43, /Users/zhang_yunjie/Workspace/workspace/crazy-studio/app/assets/stylesheets/blogs.css.scss */
.g-hd {
  color: white;
  display: block;
  font-family: 'Hiragino Sans GB', 'Hiragino Sans GB W3', 'Microsoft YaHei', '微软雅黑';
  font-size: 14px;
  height: 196px;
  line-height: 28px;
  margin: 0px;
  padding: 0px 0px 0px 20px;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px;
  width: 100%;
}

/* line 57, /Users/zhang_yunjie/Workspace/workspace/crazy-studio/app/assets/stylesheets/blogs.css.scss */
.img-circle {
  margin-bottom: 20px;
}

/* line 61, /Users/zhang_yunjie/Workspace/workspace/crazy-studio/app/assets/stylesheets/blogs.css.scss */
.g-mn {
  -webkit-background-clip: border-box;
  -webkit-backgtound-origin: padding-box;
  -webkit-background-size: auto;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: white;
  background-image: none;
  background-origin: padding-box;
  background-size: auto;
  color: #282828;
  display: block;
  font-family: 'Hiragino Sans GB', 'Hiragino Sans GB W3', 'Microsoft YaHei', '微软雅黑';
  font-size: 14px;
  height: 100%;
  line-height: 28px;
  margin-top: 120px;
  padding: 0px;
  width: 100%;
}

/* line 82, /Users/zhang_yunjie/Workspace/workspace/crazy-studio/app/assets/stylesheets/blogs.css.scss */
.blog {
  margin: 20px;
}

/* line 86, /Users/zhang_yunjie/Workspace/workspace/crazy-studio/app/assets/stylesheets/blogs.css.scss */
.blog-title {
  text-align: center;
}

/* line 90, /Users/zhang_yunjie/Workspace/workspace/crazy-studio/app/assets/stylesheets/blogs.css.scss */
.blog-body {
  text-align: left;
}
