// Place all the styles related to the Blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  text-align: center;
  margin-bottom: 50px;
}

.bg {
  -webkit-background-size: 100% 100%;
  background-color: rgb(238, 174, 147);
  background-image: url(background_4.jpg);
  background-size: 100% 100%;
  bottom: 0px;
  color: rgb(40, 40, 40);
  display: block;
  font-family: 'Hiragino Sans GB', 'Hiragino Sans GB W3', 'Microsoft YaHei', '微软雅黑';
  font-size: 14px;
  height: 450px;
  left: 0px;
  line-height: 28px;
  margin: 0px;
  padding: 0px;
  position: fixed;
  right: 0px;
  top: 0px;
  width: 100%;
}

.p-bd {
  color: rgb(40, 40, 40);
  display: block;
  font-family: 'Hiragino Sans GB', 'Hiragino Sans GB W3', 'Microsoft YaHei', '微软雅黑';
  font-szie: 14px;
  line-height: 28px;
  margin-top: 50px;
  position: relative;
}

.g-hd {
  color: rgb(255, 255, 255);
  display: block;
  font-family: 'Hiragino Sans GB', 'Hiragino Sans GB W3', 'Microsoft YaHei', '微软雅黑';
  font-size: 14px;
  height: 196px;
  line-height: 28px;
  margin: 0px;
  padding: 0px 0px 0px 20px;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px;
  width: 100%;
}

.img-circle {
  margin-bottom: 20px;
}

.g-mn {
  -webkit-background-clip: border-box;
  -webkit-backgtound-origin: padding-box;
  -webkit-background-size: auto;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgb(255, 255, 255);
  background-image: none;
  background-origin: padding-box;
  background-size: auto;
  color: rgb(40, 40, 40);
  display: block;
  font-family: 'Hiragino Sans GB', 'Hiragino Sans GB W3', 'Microsoft YaHei', '微软雅黑';
  font-size: 14px;
  height: 100%;
  line-height: 28px;
  margin-top: 120px;
  padding: 0px;
  width: 100%;
}

.blog {
  margin: 20px;
}

.blog-title {
  text-align: center;
}

.blog-body {
  text-align: left;
}